<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <div class="row form-sign-wrapper">
            <div class="col-xs-12 border">

                <form name="formSignIn" novalidate autocomplete="off">

                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="form-title">
                                <h3 class="text-center">Вход</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input name="username"
                                       class="form-control input-sm"
                                       type="text"
                                       placeholder="Email"
                                       ng-model="signin.userName"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignIn.username.$invalid && formSignIn.username.$dirty">
                                    Укажите email!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Пароль</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input name="password"
                                       class="form-control input-sm"
                                       type="password"
                                       placeholder="Пароль"
                                       ng-model="signin.password"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignIn.password.$invalid && formSignIn.password.$dirty">
                                    Укажите пароль!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-7">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="useRefreshTokens" ng-model="signin.useRefreshTokens" class="pointer">
                                <label for="useRefreshTokens">
                                    <b>Оставаться в системе</b>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="forgot-password">
                                <a data-ui-sref="send_code">Забыли пароль?</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-alert"></div>
                        </div>
                    </div>

                    <div ng-if="sendCodeFlag" class="send-code">
                        <button class="btn btn-default btn-sm full-width" ng-click="sendEmailCode()" data-ladda="laddaSendCodeFlag" data-spinner-color="black">
                            Снова выслать письмо для подтверждения email'а?
                        </button>
                    </div>

                    <div class="row form-submit">
                        <div class="col-xs-6 col-xs-offset-3">
                            <a href="javascript:void(0)"
                               class="btn btn-primary btn-sm form-submit-button"
                               data-ladda="laddaSignInFlag"
                               ng-click="formSubmit(formSignIn)">
                                Выполнить вход
                            </a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
    </div>
