<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <div class="row form-sign-wrapper">
            <div class="col-xs-12 border">

                <form name="formSignUp" novalidate autocomplete="off">

                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="form-title">
                                <h3 class="text-center">Регистрация</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Имя</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input name="firstName"
                                       class="form-control input-sm"
                                       type="text"
                                       placeholder="Имя"
                                       ng-model="signup.firstName"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                       ng-pattern="/^[а-яА-Я]+$/"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignUp.firstName.$dirty && formSignUp.firstName.$error.required">
                                    Укажите имя!
                                </span>
                                <span ng-show="!formSignUp.firstName.$error.pattern &&
                                      (formSignUp.firstName.$error.minlength || formSignUp.firstName.$error.maxlength)">
                                    Имя должно содержать от 2 до 20 букв!
                                </span>
                                <span ng-show="formSignUp.firstName.$error.pattern">
                                    Должно состоять только из букв русского алфавита!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Фамилия</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input name="lastName"
                                       class="form-control input-sm"
                                       type="text"
                                       placeholder="Фамилия"
                                       ng-model="signup.lastName"
                                       ng-minlength="2"
                                       ng-maxlength="20"
                                       ng-pattern="/^[а-яА-Я]+$/"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignUp.lastName.$dirty && formSignUp.lastName.$error.required">
                                    Укажите фамилию!
                                </span>
                                <span ng-show="!formSignUp.lastName.$error.pattern &&
                                      (formSignUp.lastName.$error.minlength || formSignUp.lastName.$error.maxlength)">
                                    Фамилия должна содержать от 2 до 20 букв!
                                </span>
                                <span ng-show="formSignUp.lastName.$error.pattern">
                                    Должна состоять только из букв русского алфавита!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input name="email"
                                       class="form-control input-sm"
                                       type="email"
                                       placeholder="Email"
                                       ng-model="signup.email"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignUp.email.$error.required && formSignUp.email.$dirty">
                                    Укажите email!
                                </span>
                                <span ng-show="formSignUp.$error.email">
                                    Недопустимый e-mail!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Пароль</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input name="password"
                                       class="form-control input-sm"
                                       type="password"
                                       placeholder="Пароль"
                                       ng-model="signup.password"
                                       ng-class="{'ng-invalid':formSignup.confirmPassword.$error.match}"
                                       ng-minlength="6"
                                       ng-maxlength="20"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignUp.password.$error.required && formSignUp.password.$dirty">
                                    Укажите пароль!
                                </span>
                                <span ng-show="!formSignUp.password.$error.pattern &&
                                      (formSignUp.password.$error.minlength || formSignUp.password.$error.maxlength)">
                                    Пароль должен содержать от 6 до 20 символов!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Подтверждение пароля</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                <input type="password"
                                       class="form-control input-sm"
                                       name="confirmPassword"
                                       ng-model="signup.confirmPassword"
                                       data-match="signup.password"
                                       placeholder="Подтверждение пароля"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formSignUp.confirmPassword.$error.required && formSignUp.confirmPassword.$dirty">
                                    Укажите подтверждение пароля!
                                </span>
                                <span ng-show="!formSignUp.confirmPassword.$error.required && formSignUp.confirmPassword.$error.match">
                                    Пароль и его подтверждение не совпадают!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-alert"></div>
                        </div>
                    </div>

                    <div class="row form-submit">
                        <div class="col-xs-6 col-xs-offset-3">
                            <a href="javascript:void(0)"
                               class="btn btn-primary btn-sm form-submit-button"
                               data-ladda="laddaSignUpFlag"
                               ng-click="formSubmit(formSignUp)">Зарегистрироваться</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
    </div>
