<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4 class="modal-title text-center" ng-bind="message"></h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-sm btn-primary full-width" ng-click="ok()">Выйти</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-sm btn-default full-width" ng-click="cancelModal()">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>