<div class="cg-notify-message cg-notify-message-right notify-style notify-fixed-width" ng-click="$close()"
     ng-class="{'notify-danger': $type == 'danger', 'notify-success': $type == 'success', 'notify-info': $type != 'danger' && $type != 'success'}">

    <div class="row">

        <div class="col-xs-1">

            <i ng-if="$type == 'danger'"
               class="fa fa-exclamation-circle fa-3x"></i>

            <i ng-if="$type == 'success'"
               class="fa fa-check-circle fa-3x"></i>

            <i ng-if="$type != 'danger' && $type != 'success'"
               class="fa fa-info-circle fa-3x"></i>

        </div>

        <div class="col-xs-11">
            <div class="notify-text">
                <span ng-bind="$message"></span>
            </div>
        </div>

    </div>

</div>

