<div class="row" ng-show="!wasLoaded">
    <div class="col-xs-12">
        <div class="loading-wrapper loading-block">
            <div class="loading-icon">
                <i class="fa fa-refresh fa-spin fa-2x"></i>
            </div>
            <div class="loading-text">
                <span class="contrast-color">Пожалуйста, подождите...</span>
            </div>
        </div>
    </div>
</div>

<div ng-show="wasLoaded">

    <div class="row">
        <div class="col-xs-12">
            <div class="page-view-title">
                <b>
                    <a>{{trip.initials}}</a>
                </b>
            </div>
        </div>
    </div>

    <div class="form-manage-trip user-trip-xxx">

        <div class="form-block">
            <div class="row">
                <div class="col-xs-8">
                    <div class="trip-sub-title">
                        <a href="javascript:void(0)"
                           class="typical-link-reset">
                            Поездка
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2">

                            <button ng-click="addBid()"
                                    class="btn btn-primary btn-sm full-width"
                                    ng-if="trip.userId != authentication.userId && !trip.isEnded && !trip.isBidded">
                                Занять место
                            </button>
                            <button class="btn btn-primary btn-sm full-width" ng-if="trip.isBidded" disabled>
                                Заявка отправлена
                            </button>
                            <button class="btn btn-primary btn-sm full-width" disabled
                                    ng-if="trip.userId == authentication.userId && !trip.isEnded">
                                Ваша поездка
                            </button>
                            <button class="btn btn-primary btn-sm full-width" disabled
                                    ng-if="trip.isEnded">
                                Поездка завершена
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row trip-data-table">
            <div class="col-xs-12">
                <table class="table table-hover user-table first-user-table">
                    <colgroup>
                        <col class="col-xs-3">
                        <col class="col-xs-9">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><b>Откуда:</b></td>
                            <td>{{trip.originPlace.name}} </td>
                        </tr>
                        <tr>
                            <td><b>Куда:</b></td>
                            <td>{{trip.destinationPlace.name}} </td>
                        </tr>
                        <tr>
                            <td><b>Промежуточные пункты:</b></td>
                            <td ng-if="!trip.wayPoints || trip.wayPoints.length == 0">Нет</td>

                            <td ng-if="trip.wayPoints && trip.wayPoints.length != 0">
                                <div ng-repeat="wayPoint in trip.wayPoints track by $index">
                                    {{wayPoint.name}}
                                    <span ng-if="$index != trip.wayPoints.length - 1">&#8594;</span>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td><b>Cвободных мест:</b></td>
                            <td ng-bind="trip.freePlaces"></td>
                        </tr>
                        <tr>
                            <td><b>Дата отправления:</b></td>
                            <td>{{trip.leavingDate | date:'dd MMMM yyyy года'}}</td>
                        </tr>
                        <tr>
                            <td><b>Машина:</b></td>
                            <td ng-if="trip.car">{{trip.car}}</td>
                            <td ng-if="!trip.car">Не указана</td>
                        </tr>
                        <tr>
                            <td><b>Цена:</b></td>
                            <td ng-if="trip.pay > 0">
                                <span class="trip-price-title">
                                    <span ng-bind="trip.pay"></span> руб.
                                </span><br />
                                <span class="contrast-color">с человека</span>
                            </td>
                            <td ng-if="trip.pay == 0">
                                <span class="trip-price-title">
                                    Бесплатная
                                </span><br />
                                <span class="contrast-color">поездка</span>
                            </td>
                            <td ng-if="trip.pay == null">
                                <span class="trip-price-title">
                                    Договорная
                                </span><br />
                                <span class="contrast-color">цена</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-block">
            <div class="row">
                <div class="col-xs-8">
                    <div class="trip-sub-title">
                        <a href="javascript:void(0)"
                           class="typical-link-reset">
                            Машина
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-lg-8">
                <img ng-show="dataCarUrl != null"
                     ng-src="{{dataCarUrl}}" class="full-width" ng-attr-title="{{trip.car}}" />
                <img ng-show="dataCarUrl == null"
                     ng-src="{{noCarImage}}" class="full-width" ng-attr-title="{{trip.car}}" />
            </div>
        </div>

        <div ng-repeat="userIndicator in trip.userIndicators" class="indicators-users">
            <button class="user-indicator"
                    ng-show="userIndicator.avatarImage"
                    data-placement="bottom"
                    data-title="{{userIndicator.firstName + ' ' + userIndicator.lastName}}"
                    data-content="{{userIndicator.wasTriped ? 'Уже ездил с InoDrive' : 'Еще не ездил с InoDrive'}}"
                    data-trigger="hover"
                    bs-popover>
                <img class="user-circle"
                     ng-src="{{fullAvatarsFolder + userIndicator.avatarImage}}" />
            </button>
            <button class="user-indicator"
                    ng-show="!userIndicator.avatarImage"
                    data-placement="bottom"
                    data-title="{{userIndicator.firstName + ' ' + userIndicator.lastName}}"
                    data-content="{{userIndicator.wasTriped ? 'Уже ездил с InoDrive' : 'Еще не ездил с InoDrive'}}"
                    data-trigger="hover"
                    bs-popover>
                <img class="user-circle"
                     ng-src="{{noAvatarImage}}" />
            </button>
        </div>
        
        <div class="form-block">
            <div class="row">
                <div class="col-xs-8">
                    <div class="trip-sub-title">
                        <a href="javascript:void(0)"
                           class="typical-link-reset">
                            Маршрут
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="map_canvas"></div>

        <div class="border bordered-directions am-fade">
            <div id="directions"></div>
        </div>

        <div class="form-block" style="margin: 0px; margin-top: 20px;">
            <div class="row">
                <div class="col-xs-8">
                    <div class="trip-sub-title">
                        <a href="javascript:void(0)"
                           class="typical-link-reset">
                            Отзывы о поездке
                        </a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2">
                            <button class="btn btn-primary full-width btn-sm" ng-click="addPost()">Написать!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                
        <div class="row">
            <div class="col-xs-12">

                <form class="form-add-comment" name="formAddComment">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-error pull-left-error fucking-text">
                                <span ng-show="formAddComment.title.$error.maxlength && formAddComment.title.$dirty">
                                    Не более 200 символов!
                                </span>
                            </div>
                            <div data-star-rating ng-model="comment.vote" data-readonly="false" class="pull-rating"></div>
                            <textarea name="title"
                                      class="form-control no-border-radius"
                                      rows="3"
                                      placeholder="Напишите свой отзыв о совместной поездке"
                                      ng-maxlength="200"
                                      ng-model="comment.title"></textarea>
                        </div>
                    </div>
                </form>
                
                <div class="form-add-comment">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left another-fucking-text">
                                <b><a>Имя Фамилия</a></b>
                            </div>
                            <div data-star-rating data-readonly="true" class="pull-rating"></div>
                            <textarea name="title" disabled
                                      class="form-control no-border-radius def-cur"
                                      rows="3"
                                      placeholder="Напишите свой отзыв о совместной поездке"
                                      ng-maxlength="200"></textarea>
                        </div>
                    </div>
                </div>             
         
            </div>
        </div>
        
    </div>

</div>
