<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-view-title">
                    <b>Заявки на поездки</b>
                </div>
            </div>
        </div>

        <div class="row user-trips" style="margin-top: 15px;">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-6 no-padding-right">

                        <a href="javascript:void(0)" class="typical-link" ng-click="selectAllTrips()" data-ui-sref="user.my_bids.sended">
                            <div class="sub-page-nav-link" ng-class="{'sub-page-nav-link-active' : isActiveNav('user.my_bids.sended')}">
                                Отправленные <span ng-if="countOfOwnBids.count > 0">(+{{countOfOwnBids.count}})</span>
                            </div>
                        </a>

                    </div>
                    <div class="col-xs-6 no-padding-left">

                        <a href="javascript:void(0)" class="typical-link" ng-click="selectDriverTrips()" data-ui-sref="user.my_bids.received">
                            <div class="sub-page-nav-link" ng-class="{'sub-page-nav-link-active' : isActiveNav('user.my_bids.received')}">
                                Полученные <span ng-if="countOfAssignedBids.count > 0">(+{{countOfAssignedBids.count}})</span>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="user-tab">

                    <div data-ui-view>
                    </div>   

                </div>

            </div>
        </div>
    </div>
</div>