<div class="row" ng-if="!wasLoaded">
    <div class="col-xs-12">
        <div class="loading-wrapper loading-block">
            <div class="loading-icon">
                <i class="fa fa-refresh fa-spin fa-2x"></i>
            </div>
            <div class="loading-text">
                <span class="contrast-color">Пожалуйста, подождите...</span>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="wasLoaded">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-view-title">
                    <b>Новая поездка</b>
                </div>
            </div>
        </div>

        <form name="formManageTrip" class="form-manage-trip" novalidate autocomplete="off">

            <div class="form-block">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="trip-sub-title">
                            <a href="javascript:void(0)"
                               class="typical-link-reset"
                               data-content="Раздел обязателен для заполнения!"
                               data-placement="right"
                               data-trigger="hover"
                               data-bs-popover>
                                Основная информация (?)
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-2">
                                <a href="javascript:void(0)"
                                   class="btn btn-primary btn-sm full-width"
                                   data-ladda="laddaManageTripFlag"
                                   ng-click="formSubmit(formManageTrip)">
                                    Создать поездку
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-alert fluid-form-alert form-find-alert"></div>

            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-6 trip-row-right">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="control-label">Откуда</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                                        <input name="originPlace"
                                               class="form-control input-sm"
                                               type="text"
                                               placeholder="Пункт отправления"
                                               ng-autocomplete
                                               ng-model="trip.rawOriginPlace.model"
                                               data-options="autocompleteOptions"
                                               data-details="trip.rawOriginPlace.details"
                                               required />
                                    </div>
                                    <div class="form-error">
                                        <span ng-show="formManageTrip.originPlace.$invalid && formManageTrip.originPlace.$dirty">
                                            Укажите пункт отправления!
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="control-label">Куда</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                                        <input name="destinationPlace"
                                               class="form-control input-sm"
                                               type="text"
                                               placeholder="Пункт назначения"
                                               ng-autocomplete
                                               ng-model="trip.rawDestinationPlace.model"
                                               data-options="autocompleteOptions"
                                               data-details="trip.rawDestinationPlace.details"
                                               required />
                                    </div>
                                    <div class="form-error">
                                        <span ng-show="formManageTrip.destinationPlace.$invalid && formManageTrip.destinationPlace.$dirty">
                                            Укажите пункт назначения!
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 trip-row-left">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="control-label">Когда</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                        <input placeholder="Дата отправления"
                                               type="text"
                                               class="form-control input-sm"
                                               data-min-date="{{minDate}}"
                                               ng-model="trip.leavingDate"
                                               name="date"
                                               data-bs-datepicker
                                               required>
                                    </div>
                                    <div class="form-error">
                                        <span ng-show="formManageTrip.date.$error.required && formManageTrip.date.$dirty">
                                            Укажите дату отправления!
                                        </span>
                                        <span ng-show="!formManageTrip.date.$error.required && formManageTrip.date.$invalid && formManageTrip.date.$dirty">
                                            Недопустимая дата отправления!
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="control-label">Мест</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-car fa-fw"></i></span>
                                        <input placeholder="Свободных мест в машине"
                                               type="number"
                                               class="form-control input-sm"
                                               name="places"
                                               ng-model="trip.peopleCount"
                                               min="1"
                                               max="10"
                                               required>
                                    </div>
                                    <div class="form-error">
                                        <span ng-show="formManageTrip.places.$error.required && formManageTrip.places.$dirty">
                                            Укажите количество свободных мест!
                                        </span>
                                        <span ng-show="formManageTrip.places.$error.min">
                                            Как минимум должно быть одно место!
                                        </span>
                                        <span ng-show="formManageTrip.places.$error.max">
                                            Слишком много мест!
                                        </span>
                                        <span ng-show="formManageTrip.places.$error.number">
                                            Должно содержать только цифры!
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="trip-row-price">
                <label class="control-label">
                    Цена за место
                </label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="radio radio-primary radio-inline">
                            <input type="radio" id="inlineRadio1" value="neg" name="radioInline" ng-model="trip.price" class="pointer">
                            <label for="inlineRadio1"> Договорная цена </label>
                        </div>
                        <div class="radio radio-primary radio-inline">
                            <input type="radio" id="inlineRadio2" value="cur" name="radioInline" ng-model="trip.price" class="pointer" ng-click="trip.pay = 100">
                            <label for="inlineRadio2"> Указать цену </label>
                        </div>
                    </div>
                </div>

                <div class="row am-fade" ng-if="trip.price == 'cur'">
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10">

                        <div data-range-slider
                             data-min="0"
                             data-max="1000"
                             data-model-min="0"
                             data-model-max="trip.pay"
                             data-step="50"
                             data-pin-handle="min"></div>

                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 text-center trip-price-wrapper">
                        <b>{{trip.pay}} руб. </b>
                    </div>
                </div>
            </div>

            <div class="form-block second-form-block">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="trip-sub-title">
                            <a href="javascript:void(0)"
                               class="typical-link-reset"
                               data-content="Раздел, необязательный для заполнения"
                               data-placement="right"
                               data-trigger="hover"
                               data-bs-popover>
                                Дополнительная информация (?)
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 trip-row-right">
                    <div class="row">
                        <div class="col-xs-12">

                            <label class="control-label">Особенности поездки</label>

                            <div class="trip-checkboxes">

                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions0" class="pointer" ng-model="trip.isAllowdedDeviates">
                                        <label for="tripOptions0">
                                            <b>Возможны отклонения от маршрута</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions1" class="pointer" ng-model="trip.isAllowdedChildren">
                                        <label for="tripOptions1">
                                            <b>Можно ехать с детьми</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions2" class="pointer" ng-model="trip.isAllowdedPets">
                                        <label for="tripOptions2">
                                            <b>Можно ехать с животными</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions3" class="pointer" ng-model="trip.isAllowdedMusic">
                                        <label for="tripOptions3">
                                            <b>Можно выбирать музыку</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions4" class="pointer" ng-model="trip.isAllowdedEat">
                                        <label for="tripOptions4">
                                            <b>В машине можно есть</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions5" class="pointer" ng-model="trip.isAllowdedDrink">
                                        <label for="tripOptions5">
                                            <b>В машине можно пить</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="trip-checkbox-wrapper">
                                    <div class="checkbox checkbox-primary trip-checkbox">
                                        <input type="checkbox" id="tripOptions6" class="pointer" ng-model="trip.isAllowdedSmoke">
                                        <label for="tripOptions6">
                                            <b>В машине можно курить</b>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-6 trip-row-left">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="row">
                                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                                    <label class="control-label">Промежуточные пункты</label>
                                </div>
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 no-padding-left">

                                    <div class="way-points-icons">
                                        <a href="javascript:void(0)"><i class="fa fa-minus-square fa-border pointer" ng-click="removeWayPointer()"></i></a>
                                        <a href="javascript:void(0)"><i class="fa fa-plus-square fa-border pointer" ng-click="addWayPointer()"></i></a>
                                    </div>

                                </div>
                            </div>

                            <div ng-repeat="wp in trip.wayPoints track by $index" class="am-fade">
                                <div class="input-group way-point-input">
                                    <span class="input-group-addon">
                                        <i class="fa fa-map-marker fa-fw"></i>
                                    </span>
                                    <input name="wp{{$index}}"
                                           class="form-control input-sm"
                                           type="text"
                                           placeholder="Промежуточный пункт #{{$index + 1}}"
                                           ng-autocomplete
                                           ng-model="trip.wayPoints[$index].model"
                                           data-options="autocompleteOptions"
                                           data-details="trip.wayPoints[$index].details" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <label class="trip-info-label">О поездке</label>
            <textarea name="info" class="form-control" rows="3" ng-model="trip.about" ng-maxlength="200"></textarea>
            <div class="form-error">
                <span ng-show="formManageTrip.info.$error.maxlength && formManageTrip.info.$dirty">
                    Не более 200 символов!
                </span>
            </div>

            <div class="form-block thrid-form-block">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="trip-sub-title">
                            <a href="javascript:void(0)"
                               class="typical-link-reset"
                               data-content="Данные автоматически подгружаются из вашего личного кабинета"
                               data-placement="right"
                               data-trigger="hover"
                               data-bs-popover>
                                Информация о машине (?)
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row trip-car">
                <div class="col-xs-6">

                    <label class="control-label">Фото машины</label>

                    <div class="image-cropper">
                        <img ng-show="trip.dataUrl != null" ng-src="{{trip.dataUrl}}" class="resize" />
                        <img ng-show="trip.dataUrl == null" ng-src="{{noImage}}" class="resize" />
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <span class="btn btn-default btn-file btn-sm full-width upload-btn">
                                <span ng-if="trip.dataUrl == null">Загрузить фото</span>
                                <span ng-if="trip.dataUrl != null">Изменить фото</span>
                                <input type="file" accept="image/*" ng-file-select="onFileSelect($files)" title="">
                            </span>
                        </div>
                    </div>
                    <div class="row" ng-show="trip.dataUrl != null">
                        <div class="col-xs-12">
                            <button class="btn btn-default btn-sm full-width upload-btn" ng-click="removeFile()">
                                Удалить фото
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-error text-right">
                                <span ng-bind="fileErrorMsg"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-6">

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Модель машины</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-car fa-fw"></i></span>
                                <input placeholder="Модель машины"
                                       type="text"
                                       name="car"
                                       class="form-control input-sm"
                                       ng-model="trip.car">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label comfort-label">Уровень комфорта</label>
                            <button type="button"
                                    class="btn btn-sm btn-default text-left full-width car-class-btn"
                                    ng-model="trip.carClass"
                                    data-html="1"
                                    data-bs-options="class.value as class.label for class in classes"
                                    data-placeholder="Выберите уровень комфорта"
                                    data-bs-select>
                                Action <span class="caret"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-bottom-block">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-8">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-2">
                                <a href="javascript:void(0)"
                                   class="btn btn-primary btn-sm full-width"
                                   data-ladda="laddaManageTripFlag"
                                   ng-click="formSubmit(formManageTrip, true)">
                                    Создать поездку
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>


    