<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-12">
                <div class="page-view-title">
                    <b>Александр Чепурной</b>
                </div>                
            </div>
        </div>

        <div class="row user-main-info">
            <div class="col-xs-3">
                <img class="full-width" src="content/images/avatar.jpg" />
            </div>
            <div class="col-xs-9">

                <div class="row">                    
                    <div class="col-xs-6">
                        <span class="rating-span">Рейтинг: 75%</span>
                    </div>     
                    <div class="col-xs-6 text-right">
                        <div data-star-rating ng-model="userRating" data-readonly="true" class="user-view-rating"></div>
                    </div>           
                </div>                            

                <p class="about">
                    Очень давно путешествую автостопом!
                </p>                  

                <div class="no-border">
                    <table class="table user-table first-user-table">
                        <colgroup>
                            <col class="col-md-7 col-xs-6">
                            <col class="col-md-5 col-xs-6">
                        </colgroup>
                        <caption>Основная информация:</caption>
                        <tbody>
                            <tr>
                                <td>Пол:</td>
                                <td>Мужской</td>
                            </tr>
                            <tr>
                                <td>Возраст:</td>
                                <td>17 лет</td>
                            </tr>
                            <tr>
                                <td>Водительский стаж:</td>
                                <td>3 года</td>
                            </tr>
                        </tbody>
                    </table>
                </div>          
                
                <a href="javascript:void(0)" ng-click="showInfo = !showInfo" class="typical-link">
                    <div class="show-hide-user-info">
                        <span ng-if="showInfo">Скрыть дополнительную информацию</span>
                        <span ng-if="!showInfo">Показать дополнительную информацию</span>
                    </div>
                </a>                    
  
                <div class="table-responsive no-border am-fade" ng-if="showInfo">
                    <table class="table user-table">
                        <colgroup>
                            <col class="col-md-7 col-xs-6">
                            <col class="col-md-5 col-xs-6">
                        </colgroup>
                        <caption>Информация о поездках:</caption>
                        <tbody>
                            <tr>
                                <td>Всего поездок:</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>В качестве водителя:</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>В качестве пассажира:</td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>    

                <div class="table-responsive no-border am-fade" ng-if="showInfo">
                    <table class="table user-table">
                        <colgroup>
                            <col class="col-md-7 col-xs-6">
                            <col class="col-md-5 col-xs-6">
                        </colgroup>
                        <caption>Контактная инфомация:</caption>
                        <tbody>
                            <tr>
                                <td>Email:</td>
                                <td>derchepur@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Телефон:</td>
                                <td>Не указан</td>
                            </tr>
                        </tbody>
                    </table>
                </div>      

            </div>
        </div>

        <div class="row user-trips">
            <div class="col-xs-12">

                <hr class="user-view-hr"/>
                                
                <div class="row">
                    <div class="col-xs-4 all-trips">

                        <a href="javascript:void(0)" class="typical-link" ng-click="selectAllTrips()">
                            <div class="sub-page-nav-link" ng-class="{'sub-page-nav-link-active' : tripsType == 'all'}">
                                Все поездки
                            </div>
                        </a>                        

                    </div>
                    <div class="col-xs-4 driver-trips">

                        <a href="javascript:void(0)" class="typical-link" ng-click="selectDriverTrips()">
                            <div class="sub-page-nav-link sub-page-nav-link-middle" ng-class="{'sub-page-nav-link-active' : tripsType == 'driver'}">
                                В качестве водителя
                            </div>
                        </a>  

                    </div>
                    <div class="col-xs-4 passenger-trips">

                        <a href="javascript:void(0)" class="typical-link" ng-click="selectPassengerTrips()">
                            <div class="sub-page-nav-link" ng-class="{'sub-page-nav-link-active' : tripsType == 'passenger'}">
                                В качестве пассажира
                            </div>
                        </a>  

                    </div>
                </div>

                <div class="user-tab">                    
                   
                    <!--loading begin-->
                    <div class="row" ng-if="tripsType == 'passenger'">
                        <div class="col-xs-12">
                            <div class="loading-wrapper">
                                <div class="loading-icon">
                                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                                </div>
                                <div class="loading-text">
                                    <span class="contrast-color">Пожалуйста, подождите...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--loading end-->

                    <!--no result begin-->
                    <div class="row" ng-if="tripsType == 'driver'">
                        <div class="col-xs-12">
                            <div class="loading-wrapper">
                                <div class="loading-icon">
                                    <i class="fa fa-info-circle fa-2x"></i>
                                </div>
                                <div class="loading-text">
                                    <span class="contrast-color">Нет поездок!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--no result end-->                    
                    
                    <div ng-if="tripsType == 'all'">
                        <hr class="no-margin user-hr-bottom" />
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" id="showEnded" ng-model="showEnded" class="pointer">
                                    <label for="showEnded">
                                        <b>Показывать завершенные</b>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-5 text-right">
                                <div class="total-trip-count">
                                    <b>Поездок: 55</b>
                                </div>
                            </div>
                        </div>
                        <hr class="no-margin user-hr-top" />

                        <div class="list-trips">

                            <div class="short-trip">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="user-trip-header">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="javascript:void(0)" class="typical-link">
                                                        <span class="user-trip-driver">Чепурной Александр</span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <a href="javascript:void(0)"><i class="fa fa-pencil fa-border"></i></a>    
                                                    <a href="javascript:void(0)"><i class="fa fa-times fa-border"></i></a>                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="trip-padding">

                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="trip-points">
                                                        Таганрог, Ростовская область &#8594;
                                                        Ростов-на-Дону, Ростовская область &#8594;
                                                        Москва, Московская область &#8594;
                                                        Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 contrast-color">
                                                    07/07/2015
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                            <div class="trip-price">
                                                <span class="trip-price-title">10000 руб.</span><br />
                                                <span class="contrast-color">с человека</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="trip-places">
                                            <div class="row">
                                                <div class="col-xs-7 contrast-color">
                                                    <span>Осталось свободных мест: 10</span>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <a href="javascript:void(0)" class="typical-link">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>                            
                            
                            <div class="short-trip">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="user-trip-header">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="javascript:void(0)" class="typical-link">
                                                        <span class="user-trip-driver">Чепурной Александр</span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <!--<a href="javascript:void(0)"><i class="fa fa-pencil fa-border"></i></a>
                                                    <a href="javascript:void(0)"><i class="fa fa-times fa-border"></i></a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="trip-padding">

                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="trip-points">
                                                        Таганрог, Ростовская область &#8594;
                                                        Ростов-на-Дону, Ростовская область &#8594;
                                                        Москва, Московская область &#8594;
                                                        Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 contrast-color">
                                                    07/07/2015
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                            <div class="trip-price">
                                                <span class="trip-price-title">Бесплатная</span><br />    
                                                <span class="contrast-color">поездка</span>                                            
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="trip-places light-background">
                                            <div class="row">
                                                <div class="col-xs-7 contrast-color">
                                                    <span>Поездка завершена</span>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <a href="javascript:void(0)" class="typical-link">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>      

                            <div class="short-trip">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="user-trip-header">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="javascript:void(0)" class="typical-link">
                                                        <span class="user-trip-driver">Чепурной Александр</span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <!--<a href="javascript:void(0)"><i class="fa fa-pencil fa-border"></i></a>
                                                    <a href="javascript:void(0)"><i class="fa fa-times fa-border"></i></a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="trip-padding">

                                    <div class="row">
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="trip-points">
                                                        Таганрог, Ростовская область &#8594;
                                                        Ростов-на-Дону, Ростовская область &#8594;
                                                        Москва, Московская область &#8594;
                                                        Санкт-Петербург
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 contrast-color">
                                                    07/07/2015
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                            <div class="trip-price">
                                                <span class="trip-price-title">Договорная</span><br />
                                                <span class="contrast-color">цена</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="trip-places light-background">
                                            <div class="row">
                                                <div class="col-xs-7 contrast-color">
                                                    <span>Поездка завершена</span>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <a href="javascript:void(0)" class="typical-link">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>    

                        </div>

                    </div>

                </div>              
                
            </div>
        </div>
    </div>  
</div>