<div class="list-trips">

    <div class="short-trip">

        <div class="row">
            <div class="col-xs-12">
                <div class="user-trip-header">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="typical-link">
                                <span class="user-trip-driver">Чепурной Александр</span>
                            </a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <b style="color: #47B2B2; ">Завка в рассмотрении <i class="fa fa-info-circle"></i></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="trip-padding">

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="trip-points">
                                Таганрог, Ростовская область &#8594;
                                Ростов-на-Дону, Ростовская область &#8594;
                                Москва, Московская область &#8594;
                                Санкт-Петербург
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 contrast-color">
                            07/07/2015
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                    <div class="trip-price">
                        <span class="trip-price-title">10000 руб.</span><br />
                        <span class="contrast-color">с человека</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="trip-places">
                    <div class="row">
                        <div class="col-xs-7 contrast-color">
                            <span>Осталось свободных мест: 10</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <a href="javascript:void(0)" class="typical-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="short-trip">

        <div class="row">
            <div class="col-xs-12">
                <div class="user-trip-header">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="typical-link">
                                <span class="user-trip-driver">Чепурной Александр</span>
                            </a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <b style="color: #00B800; ">Заявка одобрена <i class="fa fa-check-circle"></i></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="trip-padding">

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="trip-points">
                                Таганрог, Ростовская область &#8594;
                                Ростов-на-Дону, Ростовская область &#8594;
                                Москва, Московская область &#8594;
                                Санкт-Петербург
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 contrast-color">
                            07/07/2015
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                    <div class="trip-price">
                        <span class="trip-price-title">Бесплатная</span><br />
                        <span class="contrast-color">поездка</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="trip-places light-background">
                    <div class="row">
                        <div class="col-xs-7 contrast-color">
                            <span>Поездка завершена</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <a href="javascript:void(0)" class="typical-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="short-trip">

        <div class="row">
            <div class="col-xs-12">
                <div class="user-trip-header">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="typical-link">
                                <span class="user-trip-driver">Чепурной Александр</span>
                            </a>
                        </div>
                        <div class="col-xs-6 text-right">
                            <b style="color: #FF6666;">Завка отклонена <i class="fa fa-times-circle"></i></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="trip-padding">

            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="trip-points">
                                Таганрог, Ростовская область &#8594;
                                Ростов-на-Дону, Ростовская область &#8594;
                                Москва, Московская область &#8594;
                                Санкт-Петербург
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 contrast-color">
                            07/07/2015
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                    <div class="trip-price">
                        <span class="trip-price-title">Договорная</span><br />
                        <span class="contrast-color">цена</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="trip-places light-background">
                    <div class="row">
                        <div class="col-xs-7 contrast-color">
                            <span>Поездка завершена</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <a href="javascript:void(0)" class="typical-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>