<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 user-left-column">
        <div ng-if="authentication.isAuth">            
            <a ng-class="{'page-nav-link-active': isActiveNav('user.view'), 'page-nav-link-hover': hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               data-ui-sref="user.view"
               class="page-nav-link">
                Моя страница
            </a>            
            <a ng-class="{'page-nav-link-active': isActiveNav('user.create_trip'), 'page-nav-link-hover': hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               data-ui-sref="user.create_trip"
               class="page-nav-link">
                Создать поездку
            </a>           
            <a ng-class="{'page-nav-link-active': isActiveNav('user.find'), 'page-nav-link-hover': hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               data-ui-sref="user.find"
               class="page-nav-link">
                Искать поездку
            </a>           
            <a ng-class="{'page-nav-link-active': isActiveNav('user.my_bids'), 'page-nav-link-hover': hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               data-ui-sref="user.my_bids.sended"
               class="page-nav-link">
                Мои заявки (+3)
            </a>           
            <a ng-class="{'page-nav-link-active': isActiveInherited('user.settings'), 'page-nav-link-hover': hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               data-ui-sref="user.settings.private_cabinet"
               class="page-nav-link">
                Мои настройки
            </a>           
        </div>
        <div ng-if="!authentication.isAuth">
            <form name="sidebarLoginForm" novalidate autocomplete="off">

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label sidebar-label">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <input name="username"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Email"
                                   ng-model="signin.userName"
                                   required />
                        </div>
                        <div class="fluid-form-error">
                            <span ng-show="sidebarLoginForm.username.$invalid && sidebarLoginForm.username.$dirty">
                                Укажите email!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label sidebar-label">Пароль</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input name="password"
                                   class="form-control input-sm"
                                   type="password"
                                   placeholder="Пароль"
                                   ng-model="signin.password"
                                   required />
                        </div>
                        <div class="fluid-form-error">
                            <span ng-show="sidebarLoginForm.password.$invalid && sidebarLoginForm.password.$dirty">
                                Укажите пароль!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-sm full-width sidebar-signin">
                            Войти
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        или
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-sm full-width sidebar-signup">
                            Зарегистрироваться
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 user-right-column">
        <div class="typical-wrapper">
            <div data-ui-view></div>
        </div>
    </div>
</div>







