<div class="typical-wrapper">

    <div class="filter-position">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <filter id="blur">
                <feGaussianBlur stdDeviation="2" />
            </filter>
        </svg>
    </div>

    <div class="home-map-container">
        <div class="home-map-wrapper">              
            <div class="home-map">
                <ui-gmap-google-map center='map.center'
                                    zoom='map.zoom'
                                    options="map.options"
                                    dragging="map.dragging">
                </ui-gmap-google-map>
            </div>         
        </div> 
        <div class="home-greeting-wrapper">                   
            <div class="home-greeting">
                <h4 class="greeting-text">
                    Здравствуйте! Вы попали на сайт поиска попутчиков и попутных машин! Вам больше не придется ездить в одиночку!
                    Используя наш сервис, Вы сможете создавать поездки и находить себе попутчиков или же присоединяться к уже существующим поездкам!
                    Зарегистрируйтесь и совершайте совместные поездки по всей России вместе с Ино Драйв!
                </h4>
            </div>
        </div>     
        <div class="home-map-clear"></div>
    </div>
        
    <div class="row form-home-wrapper">
        <div class="
                col-xs-8 col-xs-offset-2
                col-sm-8 col-sm-offset-2
                col-md-8 col-md-offset-2
                col-lg-6 col-lg-offset-3 
                border">

            <form name="formHome" novalidate autocomplete="off">

                <div class="row">
                    <div class="col-xs-12 no-padding">
                        <div class="form-title">
                            <h3 class="text-center">Искать машину</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Откуда</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                            <input name="originCity"
                                   class="form-control"
                                   type="text"
                                   placeholder="Пункт отправления"
                                   ng-autocomplete
                                   ng-model="home.originCity.model"
                                   data-options="autocompleteOptions"
                                   data-details="home.originCity.details"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formHome.originCity.$invalid && formHome.originCity.$dirty">
                                Укажите пункт отправления!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Куда</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                            <input name="destinationCity"
                                   class="form-control"
                                   type="text"
                                   placeholder="Пункт назначения"
                                   ng-autocomplete
                                   ng-model="home.destinationCity.model"
                                   data-options="autocompleteOptions"
                                   data-details="home.destinationCity.details"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formHome.destinationCity.$invalid && formHome.destinationCity.$dirty">
                                Укажите пункт назначения!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Когда</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                            <input placeholder="Дата отправления"
                                   type="text"
                                   class="form-control"
                                   data-min-date="{{minDate}}"
                                   ng-model="home.date"
                                   name="date"
                                   data-bs-datepicker
                                   required>
                        </div>
                        <div class="form-error">
                            <span ng-show="formHome.date.$error.required && formHome.date.$dirty">
                                Укажите дату отправления!
                            </span>
                            <span ng-show="!formHome.date.$error.required && formHome.date.$invalid && formHome.date.$dirty">
                                Недопустимая дата отправления!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Мест</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-car fa-fw"></i></span>
                            <input placeholder="Свободных мест в машине"
                                   type="number"
                                   class="form-control"
                                   name="places"
                                   ng-model="home.places"
                                   min="1"
                                   max="10"
                                   required>
                        </div>
                        <div class="form-error">
                            <span ng-show="formHome.places.$error.required && formHome.places.$dirty">
                                Укажите количество свободных мест!
                            </span>
                            <span ng-show="formHome.places.$error.min">
                                Как минимум должно быть одно место!
                            </span>
                            <span ng-show="formHome.places.$error.max">
                                Слишком много мест!
                            </span>
                            <span ng-show="formHome.places.$error.number">
                                Должно содержать только цифры!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-alert"></div>
                    </div>
                </div>

                <div class="row form-submit">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href="javascript:void(0)" class="btn btn-primary form-submit-button" ng-click="formSubmit(formHome)">Искать!</a>
                    </div>
                </div>

            </form>


        </div>
    </div>
   
</div>