<div class="typical-wrapper">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">

            <div class="row form-sign-wrapper">
                <div class="
                col-xs-10 col-xs-offset-1
                col-sm-10 col-sm-offset-1
                col-md-10 col-md-offset-1
                col-lg-8 col-lg-offset-2
                border">

                    <form name="formResetPassword" novalidate autocomplete="off">

                        <div class="row">
                            <div class="col-xs-12 no-padding">
                                <div class="form-title">
                                    <h3 class="text-center">Восстановление пароля</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="up-text">
                                    После успешной смены пароля Вы будете направлены на страницу входа.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">Новый пароль</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input name="password"
                                           class="form-control"
                                           type="password"
                                           placeholder="Новый пароль"
                                           ng-model="resetPassword.password"
                                           ng-class="{'ng-invalid':formResetPassword.confirmPassword.$error.match}"
                                           ng-minlength="6"
                                           ng-maxlength="20"
                                           required />
                                </div>
                                <div class="form-error">
                                    <span ng-show="formResetPassword.password.$error.required && formResetPassword.password.$dirty">
                                        <i>Укажите пароль!</i>
                                    </span>
                                    <span ng-show="!formResetPassword.password.$error.pattern &&
                                      (formResetPassword.password.$error.minlength || formResetPassword.password.$error.maxlength)">
                                        <i>Пароль должен содержать от 6 до 20 символов!</i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">Подтверждение пароля</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input type="password"
                                           class="form-control"
                                           name="confirmPassword"
                                           ng-model="resetPassword.confirmPassword"
                                           data-match="resetPassword.password"
                                           placeholder="Подтверждение пароля"
                                           required />
                                </div>
                                <div class="form-error">
                                    <span ng-show="formResetPassword.confirmPassword.$error.required && formResetPassword.confirmPassword.$dirty">
                                        <i>Укажите подтверждение пароля!</i>
                                    </span>
                                    <span ng-show="!formResetPassword.confirmPassword.$error.required && formResetPassword.confirmPassword.$error.match">
                                        <i>Пароль и его подтверждение не совпадают!</i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-alert"></div>
                            </div>
                        </div>

                        <div class="row form-submit">
                            <div class="col-xs-6 col-xs-offset-3">
                                <a href="javascript:void(0)" class="btn btn-primary form-submit-button" ng-click="formSubmit(formResetPassword)">Сменить пароль</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>
