<div class="row">
    <div class="col-xs-3">        
        <div ng-repeat="item in list">            
            <a ng-class="{'page-nav-link-active': isActiveNav(item.value), 'page-nav-link-hover': hover}"
               ng-mouseenter="hover = true"
               ng-mouseleave="hover = false"
               ui-sref="{{item.value}}"
               ng-bind="item.text"
               class="page-nav-link">
            </a>
        </div>
    </div>
    <div class="col-xs-9">
        <div data-ui-view></div>
    </div>
</div>





