<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <div class="row form-private-cabinet no-margin-left no-margin-right">
            <div class="col-xs-12 border">

                <form name="formResetEmail" novalidate autocomplete="off">

                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div class="form-title">
                                <h3 class="text-center">Cмена email</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Старая почта</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input name="oldEmail"
                                       class="form-control input-sm"
                                       type="email"
                                       placeholder="Старая почта"
                                       ng-model="resetEmail.oldEmail"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formResetEmail.oldEmail.$invalid && formResetEmail.oldEmail.$dirty">
                                    Укажите допустимый email!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label">Новая почта</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input name="newEmail"
                                       class="form-control input-sm"
                                       type="email"
                                       placeholder="Новая почта"
                                       ng-model="resetEmail.newEmail"
                                       required />
                            </div>
                            <div class="form-error">
                                <span ng-show="formResetEmail.newEmail.$invalid && formResetEmail.newEmail.$dirty">
                                    Укажите допустимый email!
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-alert"></div>
                        </div>
                    </div>

                    <div class="row form-submit">
                        <div class="col-xs-6 col-xs-offset-3">
                            <a href="javascript:void(0)"
                               class="btn btn-primary btn-sm form-submit-button"
                               data-ladda="laddaResetEmailFlag"
                               ng-click="formSubmit(formResetEmail)">Сменить email</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>