<style>
    .crop-area {
        border: 1px solid #ddd;
        overflow: hidden;
        padding: 30px;
        height: 350px;
    }

    img-crop > canvas {
        border: 1px solid #ddd;
    }

    .croped-img {
        padding-top: 30px;
    }

        .croped-img > img {
            border: 1px solid #ddd;
        }

    .crop-cancel {
        padding-left: 0px;
    }

    .crop-header {
        margin: 0px !important;
    }
</style>

<div class="row">
    <div class="col-xs-12">

        <div class="form-block">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="trip-sub-title">
                            <a href="javascript:void(0)"
                               class="typical-link-reset"
                               data-content="Эти данные будут доступны другим посетителя сайта"
                               data-placement="right"
                               data-trigger="hover"
                               data-bs-popover>
                                Личная информация
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-2">
                                <a href="javascript:void(0)"
                                   class="btn btn-primary btn-sm full-width"
                                   data-ladda="laddaManageTripFlag"
                                   ng-click="formSubmit(formManageTrip)">
                                    Сохранить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row trip-car">
            <div class="col-xs-6">

                <label class="control-label">Мое фото</label>

                <div class="image-cropper">
                    <img ng-show="dataUrl != null" ng-src="{{dataUrl}}" class="resize" />
                    <img ng-show="dataUrl == null" ng-src="{{noImage}}" class="resize" />
                </div>
               
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn btn-default btn-file btn-sm full-width upload-btn">
                            <span ng-if="dataUrl == null">Загрузить фото</span>
                            <span ng-if="dataUrl != null">Изменить фото</span>
                            <input type="file" accept="image/*" ng-file-select="onFileSelect($files)" title="" ng-model="files">
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="dataUrl != null">
                    <div class="col-xs-12">
                        <button class="btn btn-default btn-sm full-width upload-btn" ng-click="removeFile()">
                            Удалить фото
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-error text-right">
                            <span ng-bind="fileErrorMsg"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-6">

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Age</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="firstName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Имя"
                                   ng-model="signup.firstName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.firstName.$dirty && formSignUp.firstName.$error.required">
                                Укажите имя!
                            </span>
                            <span ng-show="!formSignUp.firstName.$error.pattern &&
                                      (formSignUp.firstName.$error.minlength || formSignUp.firstName.$error.maxlength)">
                                Имя должно содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.firstName.$error.pattern">
                                Должно состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Имя</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="firstName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Имя"
                                   ng-model="signup.firstName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.firstName.$dirty && formSignUp.firstName.$error.required">
                                Укажите имя!
                            </span>
                            <span ng-show="!formSignUp.firstName.$error.pattern &&
                                      (formSignUp.firstName.$error.minlength || formSignUp.firstName.$error.maxlength)">
                                Имя должно содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.firstName.$error.pattern">
                                Должно состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Фамилия</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="lastName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Фамилия"
                                   ng-model="signup.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.lastName.$dirty && formSignUp.lastName.$error.required">
                                Укажите фамилию!
                            </span>
                            <span ng-show="!formSignUp.lastName.$error.pattern &&
                                      (formSignUp.lastName.$error.minlength || formSignUp.lastName.$error.maxlength)">
                                Фамилия должна содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.lastName.$error.pattern">
                                Должна состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Телефон</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="lastName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Фамилия"
                                   ng-model="signup.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.lastName.$dirty && formSignUp.lastName.$error.required">
                                Укажите фамилию!
                            </span>
                            <span ng-show="!formSignUp.lastName.$error.pattern &&
                                      (formSignUp.lastName.$error.minlength || formSignUp.lastName.$error.maxlength)">
                                Фамилия должна содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.lastName.$error.pattern">
                                Должна состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Пол</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="lastName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Фамилия"
                                   ng-model="signup.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.lastName.$dirty && formSignUp.lastName.$error.required">
                                Укажите фамилию!
                            </span>
                            <span ng-show="!formSignUp.lastName.$error.pattern &&
                                      (formSignUp.lastName.$error.minlength || formSignUp.lastName.$error.maxlength)">
                                Фамилия должна содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.lastName.$error.pattern">
                                Должна состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">О себе</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="lastName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Фамилия"
                                   ng-model="signup.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.lastName.$dirty && formSignUp.lastName.$error.required">
                                Укажите фамилию!
                            </span>
                            <span ng-show="!formSignUp.lastName.$error.pattern &&
                                      (formSignUp.lastName.$error.minlength || formSignUp.lastName.$error.maxlength)">
                                Фамилия должна содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.lastName.$error.pattern">
                                Должна состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label form-label">
                            О себе
                        </label>
                        <textarea ng-maxlength="200"
                                    ng-model="profile.info"
                                    placeholder="О себе"
                                    name="info"
                                    class="form-control profile-info pull-left"
                                    rows="3"></textarea>
                        <div class="form-error text-right">
                            <span ng-show="formEditProfile.info.$error.maxlength">
                                <i>Не более 200 символов!</i>
                            </span>
                        </div>
                    </div>                   
                </div>
 

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Вожу машину с</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input name="lastName"
                                   class="form-control input-sm"
                                   type="text"
                                   placeholder="Фамилия"
                                   ng-model="signup.lastName"
                                   ng-minlength="2"
                                   ng-maxlength="20"
                                   ng-pattern="/^[а-яА-Я]+$/"
                                   required />
                        </div>
                        <div class="form-error">
                            <span ng-show="formSignUp.lastName.$dirty && formSignUp.lastName.$error.required">
                                Укажите фамилию!
                            </span>
                            <span ng-show="!formSignUp.lastName.$error.pattern &&
                                      (formSignUp.lastName.$error.minlength || formSignUp.lastName.$error.maxlength)">
                                Фамилия должна содержать от 2 до 20 букв!
                            </span>
                            <span ng-show="formSignUp.lastName.$error.pattern">
                                Должна состоять только из букв русского алфавита!
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
        <div class="form-alert fluid-form-alert form-find-alert"></div>
                            
        <div class="form-block thrid-form-block">
            <div class="row">
                <div class="col-xs-12">
                    <div class="trip-sub-title">
                        <a href="javascript:void(0)"
                            class="typical-link-reset"
                            data-content="Данные автоматически подгружаются из вашего личного кабинета"
                            data-placement="right"
                            data-trigger="hover"
                            data-bs-popover>
                            Информация о машине (?)
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row trip-car">
            <div class="col-xs-6">

                <label class="control-label">Фото машины</label>

                <div class="image-cropper">
                    <img ng-show="trip.dataUrl != null" ng-src="{{trip.dataUrl}}" class="resize" />
                    <img ng-show="trip.dataUrl == null" ng-src="{{noImage}}" class="resize" />
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn btn-default btn-file btn-sm full-width upload-btn">
                            <span ng-if="trip.dataUrl == null">Загрузить фото</span>
                            <span ng-if="trip.dataUrl != null">Изменить фото</span>
                            <input type="file" accept="image/*" ng-file-select="onFileSelect($files)" title="">
                        </span>
                    </div>
                </div>
                <div class="row" ng-show="trip.dataUrl != null">
                    <div class="col-xs-12">
                        <button class="btn btn-default btn-sm full-width upload-btn" ng-click="removeFile()">
                            Удалить фото
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-error text-right">
                            <span ng-bind="fileErrorMsg"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6">

                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Модель машины</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-car fa-fw"></i></span>
                            <input placeholder="Модель машины"
                                    type="text"
                                    name="car"
                                    class="form-control input-sm"
                                    ng-model="trip.car">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label comfort-label">Уровень комфорта</label>
                        <button type="button"
                                class="btn btn-sm btn-default text-left full-width car-class-btn"
                                ng-model="trip.carClass"
                                data-html="1"
                                data-bs-options="class.value as class.label for class in classes"
                                data-placeholder="Выберите уровень комфорта"
                                data-bs-select>
                            Action <span class="caret"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-bottom-block">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2">
                            <a href="javascript:void(0)"
                                class="btn btn-primary btn-sm full-width"
                                data-ladda="laddaManageTripFlag"
                                ng-click="formSubmit(formManageTrip, true)">
                                Создать поездку
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>     

    </div>
</div>