<div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

            <div class="row form-private-cabinet no-margin-left no-margin-right">
                <div class="col-xs-12 border">

                    <form name="formResetPassword" novalidate autocomplete="off">

                        <div class="row">
                            <div class="col-xs-12 no-padding">
                                <div class="form-title">
                                    <h3 class="text-center">Cмена пароля</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">Старый пароль</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input name="oldPassword"
                                           class="form-control input-sm"
                                           type="password"
                                           placeholder="Старый пароль"
                                           ng-model="resetPassword.oldPassword"
                                           ng-minlength="6"
                                           ng-maxlength="20"
                                           required />
                                </div>
                                <div class="form-error">
                                    <span ng-show="formResetPassword.oldPassword.$error.required && formResetPassword.oldPassword.$dirty">
                                        Укажите пароль!
                                    </span>
                                    <span ng-show="!formResetPassword.oldPassword.$error.pattern &&
                                      (formResetPassword.oldPassword.$error.minlength || formResetPassword.oldPassword.$error.maxlength)">
                                        Пароль должен содержать от 6 до 20 символов!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">Новый пароль</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input name="password"
                                           class="form-control input-sm"
                                           type="password"
                                           placeholder="Новый пароль"
                                           ng-model="resetPassword.newPassword"
                                           ng-class="{'ng-invalid':formResetPassword.confirmPassword.$error.match}"
                                           ng-minlength="6"
                                           ng-maxlength="20"
                                           required />
                                </div>
                                <div class="form-error">
                                    <span ng-show="formResetPassword.newPassword.$error.required && formResetPassword.newPassword.$dirty">
                                        Укажите пароль!
                                    </span>
                                    <span ng-show="!formResetPassword.newPassword.$error.pattern &&
                                      (formResetPassword.newPassword.$error.minlength || formResetPassword.newPassword.$error.maxlength)">
                                        Пароль должен содержать от 6 до 20 символов!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">Подтверждение пароля</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input type="password"
                                           class="form-control input-sm"
                                           name="confirmPassword"
                                           ng-model="resetPassword.confirmPassword"
                                           data-match="resetPassword.newPassword"
                                           placeholder="Подтверждение пароля"
                                           required />
                                </div>
                                <div class="form-error">
                                    <span ng-show="formResetPassword.confirmPassword.$error.required && formResetPassword.confirmPassword.$dirty">
                                        Укажите подтверждение пароля!
                                    </span>
                                    <span ng-show="!formResetPassword.confirmPassword.$error.required && formResetPassword.confirmPassword.$error.match">
                                        Пароль и его подтверждение не совпадают!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-alert"></div>
                            </div>
                        </div>

                        <div class="row form-submit">
                            <div class="col-xs-6 col-xs-offset-3">
                                <a href="javascript:void(0)"
                                   class="btn btn-primary btn-sm form-submit-button"
                                   data-ladda="laddaResetPasswordFlag"
                                   ng-click="formSubmit(formResetPassword)">Сменить пароль</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>