/*Arrow to top begin*/
.to-top {
    position: fixed;
    background-color: rgba(180, 153, 172, 0.3);
    background: rgba(180, 153, 172, 0.3);
    color: rgba(180, 153, 172, 0.3);
    width: 50px;
    height: 100%;
    z-index: 100000;
}
.to-top-text {          
    margin-top: 10px;
}
.to-top-link {            
    color: #B0B0B0 !important;
}
/*Arrow to top end*/

/*Sticky footer begin*/

html {
    position: relative;
    min-height: 100%;               
}

body {                    
    margin-bottom: 120px;
    min-width: 700px;
    color: #246BB2 !important;  
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;                    
    height: 55px;                    
}

.footer-container {
    height: inherit;
}

.footer-text{
    border-top: 2px solid #f5f5f5;
    padding-top: 5px;
}

/*Sticky footer end*/

/*Loading begin*/
.loading-wrapper {
    color: #246BB2;
    border: 1px solid #eee;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.loading-icon {
    width: 35px;
    float: left;
    margin-left: 15px;
}
.loading-text {
    margin-top: 5px;
    padding-right: 15px;
}
/*Loading end*/

/*General begin*/
.contrast-color{
    color: #777;
}
.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}
.no-border{
    border: 0;
}
.full-width{
    width: 100%;
}
a.typical-link:link {    
    text-decoration: none;
}
a.typical-link:visited {    
    text-decoration: none;
}
a.typical-link:hover {    
    text-decoration: none;
}
a.typical-link:active {    
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

button:focus {
    outline:0 !important;
}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.animate-show.ng-hide {
    opacity: 0;
}

.alert{
    border-radius: 0px;
    margin: 0px;
}

.form-submit {
    border-top: 2px solid #f5f5f5;
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
}

.form-submit-button{
    width: 100%;
}

.form-alert{  
    min-height: 30px;   
    margin-top: 1px;
}

.form-error{
    margin-top: 3px;
    min-height: 20px;
    font-size: 13px;
    color: #FF9999;
}

.control-label{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-title{
     border-bottom: 2px solid #f5f5f5;
     margin-bottom: 30px;
}

.form-title > h3{
     margin: 20px;
}

.no-padding{
    padding: 0;
}

.border{
    border: 2px solid #f5f5f5;
}

.inherit-height {
    height: inherit;
}

.btn-primary{
    background-color: #246BB2;
    border-color: #246BB2;
}
/*General end*/

/*Header begin*/

@font-face {
    font-family: MISTRESS;
    src: url('../../content/fonts/0_font.ttf');
}

.logo-font {
    font-family: MISTRESS;
    font-size: 30px;
}

.header {
    background-color: #246BB2;
    height: 55px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-link{
    color: white;
}
a.header-link:link {
    color: white;
    text-decoration: none;
}
a.header-link:visited {
    color: white;
    text-decoration: none;
}
a.header-link:hover {
    color: #D6EBFF;
    text-decoration: none;
}
a.header-link:active {
    color: white;
    text-decoration: none;
}

.header-left{    
    margin-top: 8px;
    height: 36px;
}
.header-left-link{    
    font-size: 28px; 
}

.header-right{
    margin-top: 17px;
    height: 21px;
}
.header-right-link{    
    font-size: 14px; 
    padding-left: 15px;
}

/*Header end*/

/*Sortable list begin*/

.list {
    list-style: none outside none;
    margin: 10px auto 30px;
}

.item {
    width: 200px;
    padding: 5px 10px;
    margin-right: 25px;
    margin-left: 25px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #EA8A8A;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: auto;
}

.floatingList > .item {
    float: left;
    width: 70px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
} 

/*Sortable list end*/

/*Home begin*/

.filter-position{
    position:absolute;
}

.typical-wrapper {
    border-bottom: 2px solid #f5f5f5; 
    border-left: 2px solid #f5f5f5; 
    border-right: 2px solid #f5f5f5;
    border-top: 1px solid white;
}

.angular-google-map-container {
    height: 240px;
}

.home-map-container{      
    overflow: hidden;
    position: relative;    
}

.home-map-wrapper{
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear; 
}

.home-greeting-wrapper {
    top: 0;
    position: absolute;
    padding: 20px;   
    padding-bottom: 60px;
}

.home-map-clear{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: white;
}

.home-greeting {
    position: relative;
    z-index: 100;    
    background: rgb(34,34,34);
    background: rgba(34,34,34,0.75);
    height: 175px;
    display: table;    
    text-align: center;
}

.greeting-text {
    text-align: center;
    color: #fefefe;
    font-weight: normal;
    padding: 30px;
    display: table-cell;
    vertical-align: middle;    
}
 .form-home-wrapper
{
     margin-bottom: 100px; 
     margin-top: 75px;
     margin-left: 15px;
     margin-right: 15px;
}
/*Home end*/

/*Sign\in\up begin*/
 .form-sign-wrapper
{
     margin: 100px 15px;
}
 .forgot-password{
     margin: 10px 0px; 
     text-align: right; 
 }
/*Sign\in\up end*/

/*Page nav begin*/

.page-nav-link{
    padding: 7.5px 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 5px;
    font-size: 14px;
    display: block; 
    width: 100%;
}
.page-nav-link-active{
    border-left-color: #246BB2;  
}
.page-nav-link-hover{    
    background-color: #D6EBFF;
    color: #246BB2 !important;
}
a.page-nav-link:link {
    text-decoration: none;
}
a.page-nav-link:visited {
    text-decoration: none;
}
a.page-nav-link:hover {    
    text-decoration: none;
}
a.page-nav-link:active {
    text-decoration: none;
}

.sub-page-nav-link{
    padding: 5px;    
    border: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;    
    border-top-width: 4px;
    text-align: center;
    font-size: 14px;
    display: block; 
    width: 100%;
}
.sub-page-nav-link-middle{
    border-left: 0px;
    border-right: 0px;
}
.sub-page-nav-link-active{
    border-top-color: #246BB2; 
    border-bottom: 0;
}
.sub-page-nav-link-hover{    
    background-color: #D6EBFF;
    color: #246BB2 !important;
}
a.sub-page-nav-link:link {
    text-decoration: none;
}
a.sub-page-nav-link:visited {
    text-decoration: none;
}
a.sub-page-nav-link:hover {    
    text-decoration: none;
}
a.sub-page-nav-link:active {
    text-decoration: none;
}
/*Page nav end*/


/*Send code begin*/
.up-text{
    margin-bottom: 20px;
}
.up-input{
    margin-bottom: 19px;
}
/*Send code end*/

/*Notify begin*/
.notify-style {
    border: 10px solid white;
    padding: 15px;
    padding-left: 17px;
    font-size: 13px;
    cursor: pointer;
    text-align: left;
    color: white;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.17);    
    background-color: black;
    min-height: 90px;
    margin-bottom: 19px;
}
.notify-fixed-width{
    width: 350px;
}
.notify-icon{
    width: 48px;
    float: left;
    margin-left: 15px;
}
.notify-text{
    padding-right: 15px;
}
.notify-danger{
    background-color: #FF9999;
}
.notify-success{
    background-color: #80CC99;
}
.notify-info{
    background-color: #99E6FF;
}
/*Notify end*/

/*User begin*/
.user-left-column{
    padding-right: 10px;
}
.user-left-column > div{
    border-bottom: 2px solid #f5f5f5;
}
.user-right-column{
    padding-left: 0px;
}
.user-right-column > div{
    /*min-height: 600px;*/
}
.user-view-hr{
    margin-top: 0px;
    margin-bottom: 10px;    
}
.user-view-title{
    background-color: #f5f5f5; 
    padding: 15px 10px; 
    font-size: 16px; 
    color: #246BB2; 
}
.user-trips{     
     padding: 10px;
     padding-top: 0px;
}
.user-main-info{
     margin: 0px; 
     padding: 10px;
}
.user-main-info > div:first-child {
     padding: 0px;
}
.user-main-info > div:last-child {
     padding-left: 10px; 
     padding-right: 0px;
}
.user-table{
    margin-bottom: 0px;
    border: 1px solid #eee;
    padding-left: 10px !important;
}
.first-user-table{
    margin-bottom: 10px !important;    
}
.user-table td {
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    padding-left: 10px !important;
}
.rating-span{
    display:inline-block;
    border-bottom: 3px solid #246BB2;
    padding-bottom: 1px;
    font-size: 16px; 
    font-weight: 600;
    color: #246BB2;
}
.show-hide-user-info{
    padding: 7.5px 10px; 
    font-size: 14px; 
    color: #246BB2; 
    border: 1px solid #eee;
}
.show-hide-user-info-back{
    background-color: #D6EBFF;
}
.about{
    margin-top: 5px;
}
.user-view-rating{
    padding-right:5px;
}
/*User end*/

/*Rating begin*/
@import "compass/css3";

.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.rating >  li {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
li.filled {
    color: #fd0;
}
.rating.readonly{
    cursor: default;  
}
.rating.readonly > li{
    cursor: inherit;
}
/*Rating end*/

/*User trips begin*/
.all-trips{
     padding-right: 0px;
}
.driver-trips{
    padding-left: 0px; 
    padding-right: 0px;
}
.passenger-trips{
    padding-left: 0px;
}
.user-tab{
    border: 1px solid #eee; 
    border-top: none; 
    margin-top: -1px;
    padding: 20px 20px;    
}
.total-trip-count{
    margin-top: 11px; 
    margin-bottom: 10px;
}
/*User trips end*/